apiVersion: v1
kind: Service
metadata:
  name: vmware-nodepool-controller-metrics
  labels:
    app: vmware-nodepool-controller
spec:
  ports:
  - name: metrics
    port: 8080
    protocol: TCP
    targetPort: metrics
  selector:
    app: vmware-nodepool-controller
